/* prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* color palette */
:root
{
    --color1: #8d8741;
    --color2: #659dbd;
    --color3: #daad86;
    --color4: #bc986a;
    --color5: #fbeec1;
    --color6: #d14836;
    --color7: #49c5b6;
    --color8: #2779a7;
    
}
/* end color palette */

body {
    background-color: var(--color4);
}

/* navigation */



/* Mobile View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
    border-bottom: 1px solid #ccc;
}

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
    background-color: var(--color1);
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--color8);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

nav ul li.active a {
    background-color:  rgba(101, 157, 189, 0.2);
    color:azure;
}

.menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: var(--color5);
	background-color: var(--color6);
}

.responsive li {
	display: block;
}

.responsive a.menu::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

/* end navigation */

header {
    margin: 0 auto;
	max-width: 760px;
	border-bottom: 1px solid #ccc;
}

header h1 {
    text-align: center;
    margin:auto;
    color:var(--color6);
} 

.logo img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
	width: 64px;
	height: auto;
}

main {
    background-color: var(--color1);
}

footer {
    margin: 0 auto;
	max-width: 760px;
    border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    color:var(--color8);
    text-align: center;
    background-color: var(--color1);
}