/* prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* color palette */
:root
{
    --color1: #8d8741;
    --color2: #659dbd;
    --color3: #daad86;
    --color4: #bc986a;
    --color5: #fbeec1;
    --color6: #d14836;
    --color7: #49c5b6;
    --color8: #2779a7;
    --color9: rgb(42, 42, 129);
    --color10:#224576;


    
}
/* end color palette */

body {
    background-color: var(--color8);
}

/* navigation */

nav {
	margin: 0 auto;
}

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
    background-color: var(--color2);
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
    border: 1px solid var(--color6);
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--color6);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

nav ul li.active a {
    background-color: var(--color10);
    color:azure;
}

.menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: var(--color5);
	background-color: var(--color6);
}

.responsive li {
	display: block;
}

.responsive a.menu::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

/* end navigation */

/* image */

.images {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin: 5px;
    border: 2px solid black
}

img{
  filter: blur(0em);
  transition:filter 0.5s;
}

img.socialicon {
    border-radius: 100%;
    width: 60%;
    margin: 0 auto;
    height: auto;

  } 

/* end image */

header {
    margin: 0 auto;
    background-color: var(--color1);
    border-bottom: 1px solid #ccc;

}

header h1 {
    text-align: center;
    margin:auto;
    color:var(--color9);
} 

.logo img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
	width: 64px;
	height: auto;
}

.social {
    text-align: center;
}

img{
    filter: blur(0em);
    transition:filter 0.5s;
  }
  
  img.socialicon {
      border-radius: 100%;
      width: 2.5%;
      margin: 0 auto;
      height: auto;
   
  
    } 



main {
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
    background-color: var(--color10);
    color:#d14836;
}

/* hero */

main.home div.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  min-height: 12rem;
  background-color: #2779a7;
}

main.home div.hero h2 {
  position: absolute;
  top: 3rem;
  text-align: center;
  color: var(--color6);
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: .5rem 1%;
}

main.home div.hero h3 {
  position: absolute;
  top: 5.5rem;
  margin: auto;
  font-size: 1rem;
  line-height: normal;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  color: var(--color6);
  background-color: var(--color2);
}

.hero img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.hero button {
    position: absolute;
    bottom: 1.5rem;
    margin: 0;
    padding: .5rem 5%;
}

.hero button:hover {
    cursor: pointer;
}








footer {
    margin: 0 auto;
    border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    color:var(--color9);
    text-align: center;
    background-color: var(--color1);
}