header {
    display: block;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;  
    font-family: 'Montserrat', sans-serif;
    color:antiquewhite;
    background-color:darkolivegreen;
}

header img {
    max-width: 30em;
    margin: 1em;
}

header h2 {
    padding: 3em;
    text-align: center;
}

footer{
    text-align: left;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color:antiquewhite;
    background-color:darkolivegreen;
}

footer p {
    padding: 1em;
}

#title {
    max-width: 20em;
}
.home {
    background-color:darkolivegreen;   
}

main {
    display: grid;
    margin: auto;
    align-items: flex-start;
    justify-content: flex-start;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    width: 100%;
 }

 .segment_content {
    margin: auto;
    display:block;
    width: 90%;
    background-color:antiquewhite;
 
 body {
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    text-align: center;
  }

h1, h2, h3 {
    text-align: left;    
}