header, footer {
    display: block;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    margin: 0 auto;  
    font-family: 'Montserrat', sans-serif;
    color:antiquewhite;
    background-color:darkolivegreen;
    padding: .5px;
}

header h1, h2, h3 {
    padding: .5px;
    text-align: center;
}

footer p {
    text-align: center;
}

#title {
    max-width: 20em;
}

main {
    display: grid;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
 }

 p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 2em;
}


 main img {
    display: block;
    max-width: 30em;
    margin: 0 auto;
    border: .5px solid grey;
 }

 .segment_details {
    margin: auto;
    display:block;
    width: 85%;
    text-align:center;
    border: .5px solid grey;
    background-color:cornsilk;
 }

 
 body {
    margin: 0 auto;
    padding: 2.5em;
    font-size: 18px;
    text-align: center;
  }

h1, h2, h3 {
    text-align:center; 
    padding: 5px;   
}