/* prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* color palette */
:root
{
    --primary-background-color: #c2ba9c;
    --secondary-background-color: #cccca6;
    --accent1-background-color: #283555;
    --accent2-background-color: #364b92;
    --color1: #466d92;
    --color2: #9cbbc2;
    --color3: #557da2;
    --primary-font-color: #3b6171;
    --secondary-font-color: #ffebcd;
    --tertiary-font-color: #e1f6ff;
}
/* end color palette */

body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #4e4e4e;
    font-family: 'Montserrat', sans-serif;
}

header,
nav,
footer {
    margin: 1.25rem auto;
    max-width: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-weight: 500;
    color: var(--secondary-font-color);
}

h2 {
    font-weight: 300;
    color: var(--secondary-font-color);

}

h3 {
    margin: 0;
    padding: .5rem 0;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    color: var(--accent1-background-color);
    background-color: var(--primary-background-color);
}

p {
    font-weight: normal;
    color: var(--secondary-font-color);
}

/* banner */

.banner {
    margin: 0 auto;
    padding: .5rem 0;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    color: var(--secondary-font-color);
    background-color: var(--accent2-background-color);
}

/* end banner */

/* header */
header {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: var(--accent2-background-color);
}

.date {
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    color: var(--accent1-background-color);
    background-color: var(--primary-background-color);
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
    background-color: #224576;
}

.container {
    padding: 1.25vw;
	  display: flex;
    align-items: center;
    justify-content: left;
}

#logoimage {
    float:left;
	}

#logotext {
    padding-left: 20px;
	}

/* contact */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25vw;
    background-color: var(--accent1-background-color);
    color: var(--secondary-font-color);
    font-size: large;
    font-weight: normal;
}

.contact div {
    color:var(--secondary-font-color);
    letter-spacing: .75px;
}

.contact a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 500;
    justify-content: space-evenly;
    align-items: center;
}

.contact img {
    align-self: center;
}

/* end contact */

/* navigation bar. */

nav {
    background-color:var(--accent1-background-color);
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--secondary-font-color)
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#ffebcd;
    border-top: 1px solid rgba(30, 33, 189, 0.5);
}

nav ul li.active a {
    background-color:  rgba(130, 131, 206, 0.2);
    color:azure;
}

nav ul li a:hover {
    background-color:  rgba(30, 33, 189,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* end navigation bar */

/* image */

.images {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin: 5px;
    border: 2px solid black
}

[data-src] {
  filter: blur(0.2em);
}

img{
  filter: blur(0em);
  transition:filter 0.5s;
}

img.socialicon {
    border-radius: 100%;
    width: 60%;
    margin: 0 auto;
    height: auto;
  } 

/* end image */
/*  end header */