@media only screen and (min-width: 64rem) {

    nav ul li a {
        padding: .5rem 1rem;
    }



/* main.home */

main.home {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr .5fr 1fr;
        column-gap: .5rem;
        row-gap: .5rem;
        justify-items: stretch;
        margin: auto auto 3rem auto;
    }

    main.home div {
        margin: .1rem 1% .1rem 1%;
    }

    main.home div h2 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    main.home div h3 {
        font-size: 1.25rem;
        margin: .75rem 5%;
        width: inherit;
    }

    main div p {
        margin: .5rem .2rem;
    }

    main div button {
        font-size: 1rem;
        margin: .5rem 5%;
        padding: .5rem 1.75rem;
    }

/* end home */

/* main.home div.hero */

    div.hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .hero h1 {
        font-size: 2.25rem;
        top: 14vw;
    }

    main.home div.hero h2 {
        font-size: 1.2rem;
        top: 23vw;
        margin: 0 0;
        padding: 0;
    }

    .hero img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .hero button {
        bottom: 7rem;
        top: initial;
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }

/* end hero */

/* join */
main.home div.jcard {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: space-evenly;
}

.jcard button {
    font-size: 1.15rem;
    margin: 1rem auto;
}

.jcard p {
    margin: .5rem 1rem;
    font-size: 1rem;
}

/* end join */


/* news */
main.home div.ncard {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: space-between;
}

.ncard h2 {
    align-self: start;
}

.ncard p {
    font-size: 1rem;
    margin: .5rem 1.5rem;
}

.ncard button {
    margin-bottom: 1rem;
}

/* end news */

/* event */
.ecard {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: .1rem;
    justify-content: space-between;
}

.ecard p {
    font-size: 1rem;
    margin: .5rem 5%;
}

.ecard button {
    margin-bottom: 1.25rem;
}

/* end event */



/* weather */

.wcard {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: .1rem;
    grid-template-rows: max-content max-content max-content max-content max-content;
}

.wcard h2 {
    margin: 0;
    align-self: start;
    justify-self: stretch;
}

.wcard img {
    width: 4rem;
    margin: .1rem;
}

.wcard.temperature {
    font-size: 3rem;
    margin: .1rem;
}

.wcard.forecast {
    font-size: 1.75rem;
}

.wcard hr {
    margin: .5rem;
}

.wcard td {
    padding: .1rem .7rem;
}

/* end weather */

/* spotlight business */
main.home div.spotlight-cards {
    grid-column: 3/4;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border: none;
    box-shadow: none;
}

main.home div.spotlight-cards div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 0 .75rem 0;
    height: 100%;
}

main.home div.spotlight-cards div h2 {
    font-size: 1.5rem;
    width: initial;
    line-height: 1.3;
    padding: 1rem 5%;
}

.spotlight-cards img {
    margin: 0rem 0rem;
    object-fit: contain;
    max-width: 8rem;
    align-self: center;
}

main.home div.spotlight-cards div h3 {
    margin: 1.5rem 5% 1rem 5%;
    font-size: 1.25rem;
}

.spotlight-cards div hr {
    align-self: center;
    width: 90%;
    margin: .1rem;
}

.spotlight-cards div p {
    margin: 1rem 5%;
    font-size: 1rem;
    letter-spacing: 1px;
}

main.home div.spotlight-cards div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}
.spotlight-cards div:nth-child(3) h2 {
    align-self: stretch;
}


}
/* end large */