header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "Gill Sans", sans-serif;
    color:antiquewhite;
    background-color:darkolivegreen;
}

header img {
    max-width: 30em;
    margin: 1em;
}

#title {
    max-width: 20em;
}
.home {
    background-color:darkolivegreen;   
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:left;
    font-family: "Gill Sans", sans-serif;
    background-color: antiquewhite;
    width: 100%;
 }
 
 body {
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    text-align: center;
  }

h1, h2 {
    text-align: start;    
}